header {
color : white;
font-size: 5em;
text-align: center;
}
body {
background-color: black;
}

#homepage {
float: left;

}
#lachs {        
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

p {
color: white;
}
a {
color: white;
}
h2 {
color: white;
font-size: 3em;
}
#lachstext {
text-align: justify;
font-size: 1.4em;
display: block;
position: absolute;
left: 20px;
right: 20px;
}