header {
color : black;
font-size: 5em;
text-align: center;
}
body {
background-color: white;
}

#homepage {
float: left;

}
#lachs {        
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

p {
border: 50px solid white ;    
color: black;
}
a {
color: black;
}
h2 {
color: black;
font-size: 3em;
}
#lachstext {
text-align: justify;
font-size: 1.4em;
display: block;
position: absolute;
left: 20px;
right: 20px;
}
#L {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url(https://img.freepik.com/vektoren-kostenlos/dunkles-nahtloses-muster-mit-hexagonhintergrund_1108-496.jpg?size=338&ext=jpg);
  }
  
  #U {
    float: left;
  }
  
  #U a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #U a:hover {
    background-color: #111;
  }
 #insta {
    display: block;
     margin-left: auto; 
     margin-right: auto;
 }
 #fusszeile {
    clear: both;
    background-color: lightskyblue;
    border-top: 2px solid black;