header {
color : black;
font-size: 5em;
text-align: center;
}
body {
background-color: white;
}
/*
#homepage {
float: left;
}
*/
.titelbild {        
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 400px; 
    height: 200px;
}

p {
border: 50px solid white ;    
color: black;
}
a {
color: black;
}
h2 {
color: black;
font-size: 3em;
text-align: center;
}
.lachstext {
text-align: justify;
font-size: 1.4em;
display: block;
}
.L {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url(https://img.freepik.com/vektoren-kostenlos/dunkles-nahtloses-muster-mit-hexagonhintergrund_1108-496.jpg?size=338&ext=jpg);
  }
  
  .U {
    float: left;
  }
  
  .U a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .U a:hover {
    background-color: #111;
  }
  /*
 #insta {
    display: block;
     margin-left: auto; 
     margin-right: auto;
 }
 */
 .fusszeile {
    clear: both;
    background-color: lightskyblue;
    border-top: 2px solid black;
 }
 h3{
color:black;
font-size: 2em;
text-align: center;
 }
.l { 
color: black;
font-size: 1.4em;
text-align: justify;
width: 218px;
     margin: 0 auto;
     padding: 0;
      }   
.lachsbild {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width: 40%;

}
.unten {
color: black;
font-size: 1em;
display: block;
text-align: center;
}
.Tabelle {
  border-collapse: separate;
  margin-left: auto; 
  margin-right: auto;
border-spacing:50px 30px;
}
td {
font-size: 1.5em;
text-align: left;
}
th {
font-size: 1.5em;
text-align: left;
}
.Quelle {
font-size: 1.4em;
text-align: center;
}
h1 {
  text-align: center;
}
.bildQ {
width: 4em;
height: 1.4em;
}
.Fische {
  display: block;
  margin-left: auto;
  margin-right: auto; 
width: 400px;
height: 300px;
}