
* {
    margin: 0;
    padding: 0;
}
html {
cursor: url("clown.cur"),auto;  
}
html:active {
cursor: url(clownselect.cur), pointer;

}

a {
cursor: url(clown.cur), auto;
}
.wrapper {
    width: 100%;
}

.img-info {
    width: 100%;
}

.wrapper h2 {
padding: 0px 30px 20px;
font-family: Arial;
font-size: 50px;
color: black;
line-height: 44px;
}
.img-info p {
    padding: 0px 30px 20px;
    font-family: Arial;
    font-size: 16px;
    color: black;
    line-height: 24px;
    }
.img-info h2 {
    padding: 0px 30px 20px;
    font-family: Arial;
    font-size: 36px;
    color: black;
    line-height: 36px;
}

.fische {
width: 100%;
}
.lachs {
    width: 100%;
    }

.tabelle h2 {
    padding: 30px 30px 20px;
    font-family: Arial;
    font-size: 24px;
    color: black;
    line-height: 36px;
}
.tabelle table {
    font-family: Arial;
    font-size: 16px;
    color: black;
    line-height: 24px;
   
}
.footer {
    clear: both;
    background-color: lightskyblue;
    border-top: 2px solid black;
    list-style-type:none;
    text-align: center;
}
.footer h2 {
    padding: 30px 30px 20px;
    font-family: Arial;
    font-size: 36px;
    color: black;
    line-height: 36px;
}
.footer h3 li a {
    text-decoration: none;
color: #111;    
font-size: 24px;
}
    .footer h3 li a:hover {
    text-decoration: underline;
    color: wheat;
    }
    
    
    .Untertext {
        width: 100%;
    }
    .Untertext p {
        padding: 0px 20px 20px 20px;
        font-family: Arial;
        font-size: 16px;
        color: black;
        line-height: 24px;
        }
        .Untertext h2 {
        padding-top: 20px;
            font-family: Arial;
            font-size: 36px;
            color: black;
            text-align: center;
            }
            .Rezept {
                text-align: center;
                width: 100%;
                }
                .l { 
                    color: black;
                    font-size: 1.4em;
                    text-align: justify;
                    width: 218px;
                         margin: 0 auto;
                         padding: 0;
                          }   
.hecht {
    padding: 0px 30px 20px;
    font-family: Arial;
    font-size: 36px;
    color: black;
    line-height: 36px;
}

.hechtp {
    padding: 0px 20px 20px 20px;
    font-family: Arial;
    font-size: 16px;
    color: black;
    line-height: 24px;
}
.Untertexthecht h2{
    padding: 30px 30px 20px;
    font-family: Arial;
    font-size: 36px;
    color: black;
    line-height: 36px;

}
.Untertexthecht p {
    padding: 0px 20px 20px 20px;
    font-family: Arial;
    font-size: 16px;
    color: black;
    line-height: 24px;
    }

    #Password {
        color: black;
        text-align: left;
        background-color: palegreen;
        margin: 0 auto; 
        font-size: 30px;
        border: black 2px solid;
        width: 300px;
        font-family: Arial;
        padding: 30px 30px 30px 30px;
        margin-bottom: 239px;
        margin-top: 205px;
      }    
h2 {
font-size: 100px;
}

#Password a {
color: red  ;
text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .wrapper {
        width: 600px;
        margin:  0 auto;
    }
     h2 {
        padding: 20px 0px 0px;
        }
        .img-info p {
            padding: 20px 0px 0px;
            text-align: justify;
            }
            .img-info h2 {
                padding: 30px 30px 20px;
text-align: center;
            }
            .fische {
            padding-top: 30px;
                }
                .tabelle table {
                    border-spacing:50px 30px;
                border: solid gray;
                }
                .Untertext p {
                    padding: 20px 0px 0px;
                    text-align: justify;
                    }
}

@media only screen and (min-width: 1000px) {
.wrapper {
    width: 1000px;
    }
    .img-info {
        width: 50%;
        float: right;
    }    

     h2 {
    
        text-align: center;
        }
        .img-info p {
            padding: 0px 0px 0px 30px;
            }

    .fische {
        padding-top: 0px;
        width: 50%;
        float: left;
            }
    
            .lachs {
                padding-bottom: 200px;
                width: 50%;
                float: left;
                    }
      
            .tabelle h2 {
            padding: 30px 0px 30px 0px;
                margin: auto;
               font-size: 30px;
            width: 70%;
                text-align: center;
                line-height: 36px;
            }

            .tabelle table {
    border-collapse: separate;
    margin-left: auto; 
    margin-right: auto;
    border-spacing:50px 30px;
border: solid gray;
}
.Untertext h2 {
padding-top: 300px;
color: black;

              text-align: justify;
                    width: 210px;
                         margin: 0 auto;
                         padding: 0;
                          }  

.Hechttext {
height: 355px;
}
.Untertexthecht {
width: 50%;


}
.Untertexthecht h2 {
    padding: 385px 30px 20px;
    font-family: Arial;
    font-size: 36px;
    color: black;
    line-height: 36px;

}
}            


.nav {
padding-bottom: 30px;

}

.L {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url(https://img.freepik.com/vektoren-kostenlos/dunkles-nahtloses-muster-mit-hexagonhintergrund_1108-496.jpg?size=338&ext=jpg);
    
  }
  
  .U {
    float: left;
  }
  
  .U a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .U a:hover {
    background-color: #111;
  }
    /*Die offene Website wird auf Nav-Bar weiss markiert*/
  .L .U a.active {
    background-color: white;
    color: #111;  
    }
