header {
color : black;
font-size: 5em;
text-align: center;
}
body {
background-color: white;
}
/*
#homepage {
float: left;
}
*/
html {
zoom: 1.3;


}
.titelbild {        
    width: 500px; 
    height: 250px;
float: right;
padding-right: 5em;
padding-top: 10em;
  }


p {
border: 50px solid white ;    
color: black;
}
a {
color: black;
}
h2 {
color: black;
font-size: 3em;
text-align: center;
}
.text {
text-align: justify;
font-size: 1.4em;
display: block;
}
.L {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url(https://img.freepik.com/vektoren-kostenlos/dunkles-nahtloses-muster-mit-hexagonhintergrund_1108-496.jpg?size=338&ext=jpg);
  }
  
  .U {
    float: left;
  }
  
  .U a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .U a:hover {
    background-color: #111;
  }
  .L .U a.active {
background-color: white;
color: #111;  
}
  /*
 #insta {
    display: block;
     margin-left: auto; 
     margin-right: auto;
 }
 */
 .fusszeile {
    clear: both;
    background-color: lightskyblue;
    border-top: 2px solid black;
 }
 h3{
color:black;
font-size: 2em;
text-align: center;
 }
.l { 
color: black;
font-size: 1.4em;
text-align: justify;
width: 218px;
     margin: 0 auto;
     padding: 0;
      }   
.lachsbild {
  float: right;
  width: 30%;
margin-right: 18em;
}
.Rezept {
float: left;
width: 50%;

}
.unten {
color: black;
font-size: 1em;
display: block;
text-align: center;
}
.Tabelle {
  border-collapse: separate;
  margin-left: auto; 
  margin-right: auto;
border-spacing:50px 30px;
}
td {
font-size: 1.5em;
text-align: left;
}
th {
font-size: 1.5em;
text-align: left;
}
.Quelle {
font-size: 1.4em;
text-align: center;
}
h1 {
  text-align: center;
}
.Fische {
  display: block;
  margin-left: auto;
  margin-right: auto; 
width: 400px;
height: 300px;
}
.text2 {
  font-size: 1.4em;
  width:50%;
  float: left;
  }
  .forelle {        
    width: 500px; 
    height: 250px;
float: right;
padding-right: 5em;
padding-top: 5em;
  }